<p-toolbar>
  <div class="p-toolbar-group-star flex justify-content-between flex-grow-1 md:flex-grow-0 gap-2">
    <img src="./assets/images/logo.svg" alt="" />
    <p-menubar [model]="menuItems"></p-menubar>
  </div>
  <div class="flex gap-3 align-items-center" *ngIf="isLogged">
    <span class="text-white">{{ userLogged }} </span>
    <p-button
      icon="pi pi-chevron-down
      "
      styleClass="p-button-rounded p-button-info p-button-text"
      [style]="{ color: '#fff' }"
      (onClick)="menu.toggle($event)"
    ></p-button>
    <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
  </div>
  <div class="p-toolbar-group-end gap-2" *ngIf="!isLogged">
    <p-button 
      label="Crear Cuenta"
      styleClass="p-button-secondary p-button-text text-xs md:text-base"
      (onClick)="register()"
    ></p-button>
    <p-button
      label="Iniciar sesión"
      styleClass="p-button-raised text-xs md:text-base"
      (onClick)="login()"
    ></p-button>
  </div>
</p-toolbar>
