:host ::ng-deep {
  .p-toolbar {
    justify-content: space-around;
    background: linear-gradient(to top, rgb(39 38 38), black);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    .p-toolbar-group-star {
      .p-menubar {
        border: none;
        background-color: transparent;
        .p-menuitem-text {
          color: #fff;
        }
        .p-submenu-list .p-menuitem-text {
          color: #495057;
        }
      }
    }
  }
  .p-menu.p-menu-overlay {
    top: 80px !important;
  }
}
