<div class="container px-8">
  <h3>Listado de tus reservas:</h3>
  <div class="flex flex-column gap-3">
    <!-- Reservation ITEM -->
    <div class="flex flex-column align-items-start text-white border-d">
      <div class="flex gap-2">
        <div class="rounded-image"></div>
        <div class="flex flex-column">
          <h3 class="m-1">Sexto Sentido</h3>
          <small>Género: Drama</small>
        </div>
      </div>

      <div class="flex flex-column">
        <p class="mt-2"><strong>Fecha:</strong> 12/04/2023</p>
        <p><strong>Estado:</strong> Pendiente de retiro</p>
        <p>
          <strong>Descripcion:</strong> <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minus
          sed obcaecati. Tempore dolorem excepturi modi culpa, asperiores
          sapiente. Incidunt quibusdam a sint obcaecati quidem cumque molestias
          placeat necessitatibus molestiae?
        </p>
      </div>
    </div>
    <!-- END Reservation ITEM -->
    <!-- Reservation ITEM -->
    <div class="flex flex-column align-items-start text-white border-d">
      <div class="flex gap-2">
        <div class="rounded-image"></div>
        <div class="flex flex-column">
          <h3 class="m-1">Sexto Sentido</h3>
          <small>Género: Drama</small>
        </div>
      </div>

      <div class="flex flex-column">
        <p class="mt-2"><strong>Fecha:</strong> 12/04/2023</p>
        <p><strong>Estado:</strong> Pendiente de retiro</p>
        <p>
          <strong>Descripcion:</strong> <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minus
          sed obcaecati. Tempore dolorem excepturi modi culpa, asperiores
          sapiente. Incidunt quibusdam a sint obcaecati quidem cumque molestias
          placeat necessitatibus molestiae?
        </p>
      </div>
    </div>
    <!-- END Reservation ITEM -->
    <!-- Reservation ITEM -->
    <div class="flex flex-column align-items-start text-white border-d">
      <div class="flex gap-2">
        <div class="rounded-image"></div>
        <div class="flex flex-column">
          <h3 class="m-1">Sexto Sentido</h3>
          <small>Género: Drama</small>
        </div>
      </div>

      <div class="flex flex-column">
        <p class="mt-2"><strong>Fecha:</strong> 12/04/2023</p>
        <p><strong>Estado:</strong> Pendiente de retiro</p>
        <p>
          <strong>Descripcion:</strong> <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minus
          sed obcaecati. Tempore dolorem excepturi modi culpa, asperiores
          sapiente. Incidunt quibusdam a sint obcaecati quidem cumque molestias
          placeat necessitatibus molestiae?
        </p>
      </div>
    </div>
    <!-- END Reservation ITEM -->
    <!-- Reservation ITEM -->
    <div class="flex flex-column align-items-start text-white border-d">
      <div class="flex gap-2">
        <div class="rounded-image"></div>
        <div class="flex flex-column">
          <h3 class="m-1">Sexto Sentido</h3>
          <small>Género: Drama</small>
        </div>
      </div>

      <div class="flex flex-column">
        <p class="mt-2"><strong>Fecha:</strong> 12/04/2023</p>
        <p><strong>Estado:</strong> Pendiente de retiro</p>
        <p>
          <strong>Descripcion:</strong> <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minus
          sed obcaecati. Tempore dolorem excepturi modi culpa, asperiores
          sapiente. Incidunt quibusdam a sint obcaecati quidem cumque molestias
          placeat necessitatibus molestiae?
        </p>
      </div>
    </div>
    <!-- END Reservation ITEM -->
  </div>
</div>
