<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div
    class="login-container flex justify-content-center align-items-center bg-primary-500"
  >
    <div
      class="login-image-container w-25rem flex justify-content-center align-items-center"
    >
      <img src="./assets/images/login-image.svg" />
    </div>
    <div class="flex flex-column gap-2 w-25rem surface-900 p-3">
      <div class="header-form flex flex-column align-items-center gap-1">
        <h3 class="m-3">Bienvenido!</h3>
        <p-button
          label="Registrate con Google"
          icon="pi pi-google
            "
          styleClass="p-button p-button-secondary "
        ></p-button>
        <p-divider align="center">
          <div class="flex align-items-center">
            <p class="m-0 surface-900">Ingresa con tu email</p>
          </div>
        </p-divider>
      </div>
      <!-- END FORM-HEADER-->
      <form class="flex flex-column gap-4">
        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-2 w-full">
            <label>Email</label>
            <input pInputText placeholder="Ingresa tu dirección email" />
          </div>
        </div>
        <!-- END INPUTGROUP -->
        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-2 w-full">
            <label>Contraseña</label>
            <p-password
              placeholder="Ingresa tu contraseña"
              [toggleMask]="true"
              [feedback]="false"
            ></p-password>
          </div>
        </div>
        <!-- END INPUTGROUP -->
        <div class="flex justify-content-between">
          <div class="keep-sing-in flex gap-1 align-items-center">
            <p-triStateCheckbox></p-triStateCheckbox>
            <span>Mantenerme conectado</span>
          </div>
          <div class="recover-password">
            <p-button
              label="¿Olvidaste tu contraseña?"
              styleClass="p-button-link"
            ></p-button>
          </div>
        </div>
        <!-- END KEEP-LOGGING-IN -->
        <p-button
          label="Ingresar"
          styleClass="p-button-raised"
          [style]="{ width: '100%' }"
        ></p-button>
        <!-- END LOGIN-BUTTON -->

        <div
          class="create-account flex justify-content-between align-items-center"
        >
          <span>¿No tienes una cuenta?</span>
          <p-button label="Registrate" styleClass="p-button-link"></p-button>
        </div>
      </form>
      <!-- END FORM -->
    </div>
  </div>
</p-dialog>
