:host ::ng-deep {
  .p-tabmenu {
    width: min-content;
    margin: 0 auto;
    ul{
      flex-wrap: wrap;
    }
    .p-tabmenu-nav {
      background-color: transparent;
      .p-tabmenuitem {
        .p-menuitem-link {
          background: transparent;
          color: white;
        }
      }
      .p-tabmenuitem.p-highlight .p-menuitem-link {
        border-color: var(--purple);
      }
    }
  }
  .p-dataview {
    .p-dataview-content {
      background-color: transparent;
    }
  }
}

//media-queries
@media screen and (min-width: 768px) {
  :host ::ng-deep{
    .p-tabmenu {
        ul {
          flex-wrap: nowrap;
        }
      }
  }
 
  
}