:host ::ng-deep {
  .p-tabmenu {
    margin: 0 auto;
    ul{
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        font-size: small;
        a {
          font-size: .5rem;
          padding: 5px !important;
          flex-direction: column;
        }
      }
    }

    .p-tabmenu-nav {
      background-color: transparent;
      .p-tabmenuitem {
        .p-menuitem-link {
          background: transparent;
          color: white;
        }
      }
      .p-tabmenuitem.p-highlight .p-menuitem-link {
        border-color: var(--purple);
      }
    }
  }
  .p-dataview {
    .p-dataview-content {
      background-color: transparent;
    }
  }
}

//media-queries
@media screen and (min-width: 425px) {
  :host ::ng-deep{
    .p-tabmenu {
      max-width: 78vw;
        ul {
          gap: .5em;
          li {
            a {
              font-size: small;
              // flex-direction: row;
            }
          }
        }
      }
  }
 
  
}
@media screen and (min-width: 768px) {
  :host ::ng-deep{
    .p-tabmenu {
      max-width: 84vw;
        ul {
          flex-wrap: wrap;
          flex-direction: row;
          gap: 1em;
          li {
            a {
              font-size: medium;
              flex-direction: row;
            }
          }
        }
      }
  }
 
  
}