<div class="p-2">
  <p-tabMenu
    [model]="tabMenuItems"
    [activeItem]="activeItem"
    (activeItemChange)="activeItem = $event"
  ></p-tabMenu>
  <h3 class="xl:text-6xl md:text-4xl text-center text-2xl mt-6 font-bold text-0">
    {{ activeItem.label ?? searchTitle }}
  </h3>
  <div class="m-auto w-7">
    <p-dataView #dv [value]="books" layout="grid">
      <ng-template let-book pTemplate="gridItem">
        <div class="col-12 sm:col-6 lg:col-12 xl:col-3 p-2">
          <div class="p-1 flex flex-column gap-2">
            <img
              class="w-full block xl:block mx-auto border-round"
              src="./assets/images/cover.jpg"
              alt=""
            />
            <span class="text-0 font-bold">{{ book.title }}</span>
            <span class="text-0"
              >Categoria: {{ getCategory(book.category.id) | uppercase }}</span
            >
            <div class="flex gap-3">
              <p-button
                label="Ver más"
                icon="pi pi-arrow-right"
                iconPos="right"
                styleClass="p-button-sm p-button-text"
                [style]="{ color: '#fff' }"
                (onClick)="onShowBook(book)"
              ></p-button>
              <div
                class="flex align-items-center justify-content-between text-0 flex-grow-1"
              >
                <span>0,0</span>
                <span class="pi pi-star"></span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<app-book-view
  [book]="bookToShow"
  [visible]="openBookView"
  (close)="openBookView = $event"
></app-book-view>
