<div class="surface-300 pt-8">
  <h3 class="text-center text-7xl m-2 font-bold opacity-50">Los más leídos</h3>
  <div class="grid gap-3 justify-content-center m-0">
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
    <p-card header="Advanced Card">
      <ng-template pTemplate="header">
        <img alt="Card" src="./assets/images/libro.jpeg" />
      </ng-template>
    </p-card>
  </div>
</div>
