<div *ngIf="book" class="flex">
  <div class="w-full">
    <img src="./assets/images/cover.jpg" alt="" class="w-full" />
  </div>
  <div class="w-9 pb-4 flex flex-column">
    <div class="mt-4 p-3">
      <p class="text-3xl font-bold">{{ book.title }}</p>
      <p class=""><strong>Autor:</strong> {{ book.author }}</p>
      <p class="">
        <strong>Categoria:</strong> {{ category?.type | uppercase }}
      </p>
      <p class=""><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p class=""><strong>Descripcion:</strong> <br />{{ book.summary }}</p>
    </div>
    <div class="mt-auto px-4">
      <p-button
        *ngIf="isLoggedIn"
        label="Reservar Ahora"
        styleClass="p-button-raised p-button-help"
        [style]="{ width: '100%' }"
        (onClick)="onMakeRservation()"
      ></p-button>
    </div>
  </div>
</div>
