@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
}
:root {
  --licoride: black; /* #1b1212; */
  --purple: #a25aff;
  --purple-hover: #8328fa;

  --max-bound: 90rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background-color: var(--licoride);
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--licoride);
  }
  .p-component {
    font-family: "Inter" !important;
  }
}
