/* .header {
  position: sticky;
} */
.container {
  position: relative;
  overflow: hidden;
  /*  margin-top: 97px; */
  .categories {
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
