:host ::ng-deep {
  .hero {
    min-height: 420px;
    img {
      width: 112px;
    }
    h2,
    h3 {
      margin: 0;
      color: #fff;
    }
    h3 {
      letter-spacing: 4px;
    }
    .p-dropdown {
      height: 44.8px !important;
      align-items: center;
    }
  }
  .input-container{
    max-width: var(--max-bound);
  }
}

@media screen and (min-width: 768px) {
   :host ::ng-deep{
      .hero {
          img {
            width: 157px;
          }
      }
    }
}

@media screen and (min-width: 1440px) {
  :host ::ng-deep {
    .hero {
      img {
        width: 170px;
      }
    }
  }
}
