:host ::ng-deep {
  .hero {
    min-height: 420px;
    img {
      width: 150px;
    }
    h2,
    h3 {
      margin: 0;
      color: #fff;
    }
    h3 {
      letter-spacing: 4px;
    }
    .p-dropdown {
      height: 44.8px !important;
      align-items: center;
    }
  }
}
